<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff; margin: 0;">

  <!-- Navbar brand -->
<%= link_to root_path do %>
<%= image_tag 'homebeat_logo.png', :class => "style_image" %>
<% end %>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav ml-auto" >
          <!-- Dropdown -->
      <li class="nav-item dropdown navbarlink">
        <!-- a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> -->
          <%= link_to 'Audio-Video', items_path %>
<!--         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
          <!-- Dropdown -->
      <li class="nav-item dropdown navbarlink" >
          <%= link_to 'Stereo', items_path %>
        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" -->
          <!-- aria-expanded="false">Stereo</a> -->
<!--         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
          <!-- Dropdown -->
      <li class="nav-item dropdown navbarlink">
          <%= link_to 'Parlantes', items_path %>
        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Parlantes</a> -->
<!--         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
          <!-- Dropdown -->
      <li class="nav-item dropdown navbarlink">
          <%= link_to 'Audifonos', items_path %>
        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Audifonos</a> -->
<!--         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown navbarlink">
          <%= link_to 'Accesorios', items_path %>
        <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Accesorios</a> -->
<!--         <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>


    </ul>


</nav>
<!--/.Navbar-->
