<%= render "shared/navbar" %>

<div class="home-container">

<%= render 'shared/video' %>

<%= render 'shared/categories' %>
<%= render 'shared/paralax' %>
<%= render 'shared/features' %>

<%= render 'shared/paralax1' %>
<%= render 'shared/moredetail' %>
</div>

<%= render 'shared/carousel' %>

<div class="parallax">
  <div class="bg__footer">foo</div>
</div>


